/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
	font-family: 'PT Sans', Arial;
	font-size: 20px;
}

section{
    position:relative;
    min-height:100%;
    width:100%;
}
   
h1 {
	font-family: 'oneplusonebold';
	font-size: 60px;
	line-height: 53px;
	text-transform: uppercase;
	margin: 0;

}

h2 {
	font-family: 'oneplusonelight';
	font-size: 70px;
	font-weight: 100;
	line-height: 58px;
	text-transform: uppercase;
	color: #5f5f5f;
	text-align: center;
	margin: 0 30px 50px 200px;
}

p {
	line-height: 1.3;
}

aside {
	position: fixed;
	top: 35px;
	left: 35px;
	z-index: 3;
}

a.btn {
	font-family: 'oneplusonelight';
	font-size: 25px;
	line-height: 19px;
	text-transform: uppercase;
	border: 3px solid #fff;
	color: #fff;
	text-decoration: none;
	display: inline-block;
	min-width: 235px;
	padding: 15px 20px;
	margin: 5px 10px;
	cursor: pointer;
}

	a.btn:hover {
		color: #f2ceb9;
		border-color: #f2ceb9;
	}

.content {
	margin: 0 auto;
}

#logo {
	display: inline-block;
	width: 79px;
	height: 47px;
	background: url('../img/logo.png') no-repeat 0 0;
	margin-bottom: 25px;
}

	#logo.vote-page {
		background-position: 0 -47px;
	}
	
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.5;
	z-index: 2;
}

/*
 * Menu
 */
 
 #menu,
 #social-menu{
	margin: 0;
	padding: 0;
	display: none;
	list-style: none;
 }
 
	#menu li {
		display: block;
		height: 50px;
		margin-bottom: 20px;
	}
 
	#menu a {
		display: inline-block;
		color: #fff;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 700;
	}
	
		#menu .vote-page a {
			color: #666;
		}
	
		#menu .current a {
			color: #f2ceb9;
		}
		
		#menu a.disabled {
			opacity: 0.4;
			cursor: default;
		}
	
		#menu a strong {
			position: relative;
			top: -23px;
		}
	
	.icon-home,
	.icon-about,
	.icon-vote,
	.icon-final,
	.icon-results {
		display: inline-block;
		height: 57px;
		width: 57px;
		background: url('../img/menu-icons.png') no-repeat 2px 0;
		margin-right: 10px;
	}
		
		#menu .current .icon-home,
		#menu li.current:hover .icon-home {
			background-position: -286px 0;
		}
		
		#menu li:hover .icon-home {
			background-position: -56px 0;
		}
	
		.vote-page .icon-home {
			background-position: -114px 0;
		}
		
		#menu li.vote-page:hover  .icon-home {
			background-position: -173px 0;
		}



	.icon-vote {
		background-position: 1px -70px;
	}
	
		.vote-page .icon-vote {
			background-position: -114px -70px;
		}
		
		#menu li.vote-page:hover  .icon-vote {
			background-position: -173px -70px;
		}
	
		#menu .current .icon-vote,
		#menu li.current:hover .icon-vote {
			background-position: -286px -70px;
		}
		
		#menu li:hover .icon-vote {
			background-position: -56px -70px;
		}
		

	
	.icon-final {
		background-position: 1px -140px;
	}
	
		.vote-page .icon-final {
			background-position: -115px -140px;
		}
		
		/*
		#menu li.vote-page:hover  .icon-final {
			background-position: -173px -140px;
		}

		#menu .current .icon-final,
		#menu li.current:hover .icon-final {
			background-position: -286px -140px;
		}

		
		#menu li:hover .icon-final {
			background-position: -56px -140px;
		}
		*/

	.icon-results {
		background-position: 1px -210px;
	}
	
		.vote-page .icon-results {
			background-position: -115px -210px;
		}
		/*
		#menu li.vote-page:hover  .icon-results {
			background-position: -173px -210px;
		}
	
		#menu .current .icon-results,
		#menu li.current:hover .icon-results {
			background-position: -286px -210px;
		}
		
		#menu li:hover .icon-results {
			background-position: -56px -210px;
		}
		*/
	


	.icon-about {
		background-position: 1px -280px;
	}
	
		.vote-page .icon-about {
			background-position: -115px -280px;
		}
		
		#menu li.vote-page:hover  .icon-about {
			background-position: -173px -280px;
		}
	
		#menu .current .icon-about,
		#menu li.current:hover .icon-about {
			background-position: -286px -280px;
		}
		
		#menu li:hover .icon-about {
			background-position: -56px -280px;
		}
		
#social-menu {
	margin-left: 14px;
}

	#social-menu li {
		display: block;
		height: 25px;
		margin-bottom: 15px;
	}
.icon-vk,
.icon-fb,
.icon-ok {
	display: inline-block;
	height: 25px;
	width: 25px;
	background: url('../img/social-menu.png') no-repeat 0 0;
}

.icon-fb {
	background-position: 0 -40px;
}

.icon-ok {
	background-position: 0 -80px;
}

/*
 * Home
 */

 #home {
	color: #fff;
 }
 
	#home .bg {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background: url('../img/home_bg.jpg') no-repeat 50% 50%;

		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;

	}
 
	#home .spacer {
		height: 500px;
	}
 
.home-text {
	position: absolute;
	bottom: 25px;
	width: 100%;
	text-align: center;
}


	.home-text .content {
		max-width: 665px;
		position: relative;
	}
	
	.home-text p {
		margin: 0 0 30px;
	}
	
#intro {
	position: fixed;
	top: -100%;
	left: 0;
	height: 100%;
	width: 100%;
	background: #000;
	z-index: 10;
}

	#intro iframe {
		height: 100%;
		width: 100%;
	}
	
	#intro #close-intro-btn {
		display: inline-block;
		height: 60px;
		width: 60px;
		background: url('../img/close.png') no-repeat 50% 50%;
		position: absolute;
		bottom: 40px;
		right: 40px;
		z-index: 2;
	}
	
/*
 * Vote
 */
 
 #vote {
	padding-top: 55px;
	background: #fff;
	z-index: 2;
 }

#contestants {
	margin-left: 180px;
}

	.contestant {
		width: 30%;
		height: 410px;
		text-align: center;
		float: left;
		margin-left: 20px;
		margin-bottom: 85px;
	}
	
		.contestant-photo {
			height: 240px;
			background-position: 50% 50%;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}
		
		.play-btn {
			position: absolute;
			display: block;
			height: 87px;
			width: 87px;
			background: url('../img/play.png') no-repeat center center;
			top: 50%;
			left: 50%;
			margin-left: -44px;
			margin-top: -44px;
			z-index: 3;
		}
		
		.contestant-name {
			color: #000;
			font-size: 20px;
		}
		
		.contestant-place {
			font-style: italic;
			font-size: 15px;
			margin: 3px 0;
		}
		
		.contestant-votes {
			font-family: 'oneplusonelight';
			font-size: 14px;
			margin-bottom: 10px;
			color: #000;
		}
		
		.contestant a.btn {
			color: #000;
			border-color: #000;
			display: block;
			margin: 0;
			min-width: inherit;
		}
		
		/*
		 * Flipper
		 */
		/* entire container, keeps perspective */
		.flip-container {
			perspective: 1000px;
			margin-bottom: 30px;
		}
			/* flip the pane when hovered */
			.flip-container:hover .flipper, .flip-container.hover .flipper {
				transform: rotateY(180deg);
			}

		.flip-container, .front, .back {
			width: 100%;
			height: 240px;
		}

		/* flip speed goes here */
		.flipper {
			transition: 0.4s ease-out;
			transform-style: preserve-3d;
			position: relative;
		}

		/* hide back of pane during swap */
		.front, .back {
			backface-visibility: hidden;

			position: absolute;
			top: 0;
			left: 0;
		}

		/* front pane, placed above back */
		.front {
			z-index: 2;
		}

		/* back, initially hidden pane */
		.back {
			transform: rotateY(180deg);
		}

		
/*
 * About
 */
#about {
	background: url('../img/about_bg.jpg') no-repeat 50% 50%;
	-webkit-background-size: cover;
    -moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

	#about .content {
		margin: 0 auto;
		color: #fff;
		max-width: 590px;
		padding-top: 95px;
		padding-bottom: 90px;
	}
	
	#about .content p {
		margin: 0 0 35px;
		line-height: 1.45;
		text-indent: 15px;
		
	}
	
.copy {
	position: absolute;
	bottom: 35px;
	left: 0;
	width: 100%;
	text-align: center;
	font-style: italic;
	font-size: 15px;
	color: #fff;
	opacity: 0.4;
	border-top: 1px solid #fff;
	padding-top: 35px;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 1024px) {
	h1 {
		font-size: 50px;
		line-height: 45px;
	}
	
	h2 {
		font-size: 45px;
		text-align: left;
	}
	
	.home-text p {
		margin-bottom: 15px;
	}

	.contestant {
		width: 45%;
	}
	
	#about .content {
		padding-left: 200px;
		margin: 0;
		max-width: 60%;
	}
}

@media only screen and (max-width: 640px) {
	h1 {
		font-size: 40px;
		margin-bottom: 35px;
	}
	

	h2 {
		margin-left: 100px;
		margin-bottom: 20px;
		font-size: 25px;
	}
	
	a.btn {
		display: block;
		min-width: 0;
	}
	
	aside {
		left: 10px;
	}
	
	#logo {
		display: none;
	}
		
	#menu a strong {
		display: none;
	}
	
	#home .bg {
		background-image: url('../img/home_bg_small.jpg');
	}
	
		#home .spacer {
			height: 80px;
		}
		
		#home .home-text {
			position: static;
		}
	
			.home-text .content {
				padding: 0 20px 0 75px;
			}
		
			.home-text p {
				margin-bottom: 35px;
			}
		


	#vote {
		padding-top: 20px;
	}
		
	#contestants {
		margin-left: 75px;
		margin-right: 20px;
	}
	
	.contestant {
		width: 90%;
		margin-bottom: 25px;
	}
	
	.flip-container {
		margin-bottom: 15px;
	}
	
	#about {
		padding-top: 30px;
	}
	
	#about .content {
		padding-left: 75px;
		padding-right: 20px;
		max-width: 80%;
	}
	
	#about .content p {
		font-size: 16px;
		
	}
}

@media only screen and (min-width: 1441px) {
		.contestant {
			width: 23.5%;
		}
		
		#about .content {
			max-width: 850px;
		}
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}